<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="version" value="1000000" />
    <!--smtp服务器-->
    <add key="Host" value="smtp.126.com" />
    <!--端口-->
    <add key="Port" value="25" />
    <!--邮件地址-->
    <add key="MailAddress" value="gaoshuang1021@126.com" />
    <!--邮件名称-->
    <add key="MailName" value="gaoshuang1021@126.com" />
    <!--邮件密码-->
    <add key="MailPassword" value="lengshou01-=" />
    <!--邮件显示名称-->
    <add key="MailRealName" value="高爽" />
    <!--数据库连接串-->
    <add key="DBConnectionPath" value="\DataBase.xml" />
    <!--微信ak和sk-->
    <add key="access_appid" value="wxd364da41d6950e73" />
    <add key="access_appsecret" value="4bce6250efb673d6625ac983eebb7440" />
    <!--天气城市-->
    <add key="weatherPath" value="E:\CodeSpace\Gscoy\Gscoy.Document\weather.txt" />
    <add key="FileEncoding" value="gb2312" />
    <add key="BaiduAK" value="KuNkGjYofpyHMo6aXnIV4hvm" />
    <add key="BaiduSK" value="PFsw9bi3R7BjY7FpT20H0175FjSWOSmG" />


    <add key="USER_AGENT" value="" />
    <add key="ACCESS_KEY" value="HvD4jvGhzymBeAeCcrMBKxjjxgZQTjBAJVl_Y703" />
    <add key="SECRET_KEY" value="nUssXC4GzalBXC97mP516c5iY5ct-ZZZTHhjxTHo" />
    <add key="RS_HOST" value="" />
    <add key="UP_HOST" value="" />
    <add key="RSF_HOST" value="" />
    <add key="PREFETCH_HOST" value="" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.93.0" newVersion="1.0.93.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>