<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="version" value="1000000"/>
    <!--smtp服务器-->
    <add key="Host" value ="smtp.126.com"/>
    <!--端口-->
    <add key="Port" value ="25"/>
    <!--邮件地址-->
    <add key="MailAddress" value ="gaoshuang1021@126.com"/>
    <!--邮件名称-->
    <add key="MailName" value ="gaoshuang1021@126.com"/>
    <!--邮件密码-->
    <add key="MailPassword" value ="lengshou01-="/>
    <!--邮件显示名称-->
    <add key="MailRealName" value ="高爽"/>
    <!--数据库连接串-->
    <add key="DBConnectionPath" value="\DataBase.xml"/>
    <!--天气城市-->
    <add key="weatherPath" value="E:\CodeSpace\Gscoy\Gscoy.Document\weather.txt"/>
    <add key="FileEncoding" value="gb2312"/>
    <add key="BaiduAK" value="KuNkGjYofpyHMo6aXnIV4hvm"/>
    <add key="BaiduSK" value="PFsw9bi3R7BjY7FpT20H0175FjSWOSmG"/>
  </appSettings>
</configuration>