<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
    <appSettings>
      <add key="DBType" value="sql" />
      <add key="DbConnPath" value="E:\CodeSpace\Gscoy\Gscoy.Document\DataBase.xml" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.93.0" newVersion="1.0.93.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
