@model List<Gscoy.DataModel.CnBlogs.NewsXmlEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.Web.cshtml";
}


<h2>Index</h2>
@foreach (var entity in Model)
{
    @Html.Raw(entity.Content)
    @*if (entity.ContentImgUrl != null)
    {
        <img src="@entity.ContentImgUrl" alt="@entity.Author" />
    }*@
}